.p-error {
    margin-top: 2px;
    font-size: 0.75rem;
}

input[type="text"],
.p-password input {
    font-size: 1rem !important;
    &::placeholder {
        font-size: 1rem;
    }
}

.p-inputtext-lg {
    min-height: 42px;
}
